.board-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 1px rgb(219, 219, 219);
  color: transparent;
}

.board-cell:hover {
  border: solid 2px rgb(63, 63, 63);
}

.cell-revealed {
  background-color: rgb(215, 235, 211);
  border-color: rgb(151, 190, 140);
}

.cell-known-empty {
  transition: all 1s;
  color: rgb(216, 216, 216);
  background-color:  rgb(240, 240, 240);
}

.cell-missed {
  animation: miss 0.2s forwards linear;
}

.cell-missed::after, .cell-known-empty::after {
  content: "·";
}

.cell-hit {
  animation: hit 0.2s forwards linear;
  border-color: rgb(201, 163, 93);
}

.cell-sunk {
  animation: sink 0.2s forwards cubic-bezier(.78,.11,.81,.56);
  font-size: 30px;
  padding-bottom: 3px;
  
}
.cell-sunk::after {
  content: "✕";
}

.cell-uninteractable {
  pointer-events: none;
}

.cell-uninteractable:hover {
  border: solid 1px rgb(219, 219, 219);
}

.cell-top-left {
  border-top-left-radius: 6px;
}

.cell-top-right {
  border-top-right-radius: 6px;
}

.cell-bottom-left {
  border-bottom-left-radius: 6px;
}

.cell-bottom-right {
  border-bottom-right-radius: 6px;
}

@keyframes hit {
  from {
    background-color: rgb(158, 112, 26);
  } 
  to {
    background-color: rgb(241, 193, 102);
  }
}

@keyframes sink {
  from {
    color: transparent;
    background-color: rgb(245, 96, 96);
  }
  to {
    color: rgb(126, 47, 47);
    background-color: rgb(179, 73, 73);
    border-color: rgb(126, 47, 47);
  }
}

@keyframes miss {
  from {
    color: transparent;
    background-color: rgb(102, 102, 102);
  }
  to {
    color: rgb(216, 216, 216);
    background-color:  rgb(240, 240, 240);
  }
}