.draggable-ship {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-right: 10px;
  pointer-events: none;
}

.ship-placer-cell {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: gray;
  background-color: rgb(231, 231, 231);
  border: solid 1px rgb(168, 168, 168);
  width: var(--cell-size);
  height: var(--cell-size);
  pointer-events: none;
}

.draggable-cell {
  cursor: move;
  pointer-events: auto;
}