:root {
  --board-dimension: repeat(10, 35px);
}

.board-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-grid {
  display: grid;
  grid-template-rows: var(--board-dimension);
  grid-template-columns: var(--board-dimension);
  border: solid 2px gray;
  border-radius: 8px;
  margin: 20px 50px;
  box-shadow: rgb(219, 219, 219) 0px 0px 0px 2px inset;
  transition: opacity 0.9s cubic-bezier(0.9,0.1,0.9,0.1);
}

.disabled-board {
  opacity: 0.45;
  pointer-events: none;
}